<launch>
   <node name="calc_TTC" pkg="optical_flow" type="calc_TTC"/>
   <arg name="drone_id" default="1" />
   <arg name="drone_num" default="3" />
   <node pkg="optical_flow" type="optical_cmd.py" name="optical_$(arg drone_id)" output="screen">
        <param name="drone_id" value="$(arg drone_id)"/>
        <param name="drone_num" value="$(arg drone_num)"/>
   </node>
   <!-- <node name="offboard_node" pkg="optical_flow" type="optical_cmd.py" output="screen"/> -->
   <!-- <node name="offboard_node" pkg="tube_control" type="obs_zs.py" output="screen"/> -->
   <!-- <node pkg="rosbag" type="record" 
        name="bag_record" 
        args="/camera/left/compressed /OF_message /TTC_message /mavros/local_position/pose -o /home/wsh/data_test/test.bag"/> -->
   <!-- <node name="offboard_node_fub" pkg="obs_flow" type="obs_bs.py" output="screen"  /> -->
</launch>