<launch>
    <arg name="drone_id" default="1"/>
    <arg name="drone_num" default="6"/>


    <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="drone_num" value="$(arg drone_num)"/>
    </include>
    <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="$(arg drone_id)"/>
    </include>
</launch>