<launch>
    
    <!-- 管道的最大半径，单位：米-->
  <arg name="max_radius" value="3.0"/>
  <!-- 生成线阶数-->
  <arg name="n_order" value="6"/>
  <!-- 期望运行时间 单位：秒-->
  <arg name="total_time" value="10"/>

  <!-- 地图分辨率 单位：米 -->
  <arg name="resolution" value="0.1"/>
  <!-- 地图宽度 无量纲 -->
  <arg name="width" value="1250"/>
  <!-- 地图长度 无量纲 -->
  <arg name="height" value="991"/>

    <!-- trajectory publisher -->
    <node pkg="tube_planning" name="talker" type="talker" output="screen">
      <remap from="/paths" to="/generator_curve/paths"/>
    </node>
  
    <!-- gridmap publisher -->
    <node pkg="tube_planning" name="gridMap" type="gridMap" output="screen">
      <!-- <param name="map/info/resolution"  value="$(arg resolution)" type="float"/> -->
    </node>
  
    <!-- 管道规划-->
    <node pkg="tube_planning" name="tube_plan_node" type="tube_plan_node" output="screen">
      <param name="virtual_tube/max_radius"  value="$(arg max_radius)" type="double"/>
      <param name="generator_curve/total_time" value="$(arg total_time)" type="double"/>
      <param name="generator_curve/n_order" value="$(arg n_order)" type="int"/>
      <param name="map/info/resolution"  value="$(arg resolution)"/>
      <param name="map/info/width"  value="$(arg width)" type="int"/>
      <param name="map/info/height"  value="$(arg height)" type="int"/>
    </node>

    <!-- <node pkg="visiualization" name="visiual_node" type="visiual_node" output="screen">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/mao/code/virtual_tube_planning/src/visiualization/config/path_visual.rviz" required="true" /> -->

  </launch>
  